input[type=text]{
    border: 2px solid black;
    border-radius: 4px;
    width: 30%;
    padding:8px 16px;
}
button{
    background-color: blue;
    color: white;
    border: 1px;
    border-radius:4px;
    padding: 8px 16px;
    margin: 4px 2px;
    cursor:pointer;

}
body{
    text-align: center
}
.resultTable{
    display: inline-block;
    margin: auto;
}